nav
{
    cursor: pointer;
    position: fixed;
     z-index: 100;
    left: 0;
    top: 0;
    padding: 10px 5rem;
    background-color: #f2f1f1;
    width: 100%;
    ;
}
.img
{
  transform: scale(1.5);
  margin: 2rem;
}
ul li a:hover
{
  color: rgb(8, 95, 27) !important;
}
.active {
  color: rgb(8, 95, 27) !important;
  border-bottom: 2px solid rgb(8, 95, 27);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  nav
  {
    padding:0 ;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img
  {
    margin: 0;
  }
  .logoo
  {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
 .logout:hover{
  color:rgb(208, 208, 208) !important;
 }
 .login:hover{
  color:rgb(208, 208, 208) !important;
 }